<!DOCTYPE html>
<html lang="es">
<head>
    <title>Consulta de Históricos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .navbar {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .navbar-brand {
            margin-right: 20px; /* Añade espacio entre el texto y el borde derecho */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">SeniorSafe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/historicos">Historicos</a>
            </li>
          </ul>
        </div>
    </div>
    </nav>
    
    <h1 class="display-4 text-center">Consulta de Históricos</h1>
    <form action="/ruta_a_tu_funcion_de_backend" method="post" class="container">
        <div class="form-group">
            <label for="fecha_inicio">Fecha de inicio:</label><br>
            <input type="datetime-local" id="fecha_inicio" name="fecha_inicio" class="form-control"><br>
        </div>
        <div class ="form-group">
            <label for="fecha_fin">Fecha de fin:</label><br>
            <input type="datetime-local" id="fecha_fin" name="fecha_fin" class="form-control"><br>
        </div>
        <button type="submit" class="btn btn-primary"> Consultar </button>  
    </form>
    <div id="resultados" class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los resultados de la consulta se mostrarán aquí -->
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-6 text-right">
                <span id="indice"></span>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <button id="siguienteBtn" class="btn btn-primary">Siguiente</button>
        <button id="anteriorBtn" class="btn btn-primary">Anterior</button>
    </div>
    <script>
        var resultados = []; // Variable para almacenar todos los resultados de la consulta
        var paginaActual = 0; // Variable para almacenar la página actual de resultados
        var resultadosPorPagina = 10; // Número de resultados a mostrar por página

        // Función para mostrar los resultados de la página actual
        function mostrarResultados() {
            var tabla = '';
            var inicio = paginaActual * resultadosPorPagina;
            var fin = inicio + resultadosPorPagina;
            var resultadosPagina = resultados.slice(inicio, fin);
            for (var i = 0; i < resultadosPagina.length; i++) {
                var fecha = new Date(resultadosPagina[i][0]);
                fecha.setHours(fecha.getHours() + 5); // Sumar 5 horas a la fecha
                var formattedDate = fecha.getDate() + '-' + (fecha.getMonth() + 1) + '-' + fecha.getFullYear() + ' ' + fecha.getHours() + ':' + fecha.getMinutes() + ':' + fecha.getSeconds();
                tabla += '<tr><td>' + formattedDate + '</td><td>' + resultadosPagina[i][1] + '</td></tr>';
            }
            document.querySelector('#resultados tbody').innerHTML = tabla;
            document.querySelector('#indice').textContent = 'Página ' + (paginaActual + 1) + ' de ' + Math.ceil(resultados.length / resultadosPorPagina);
        }

        // Función para actualizar la tabla con los resultados de la consulta
        function actualizarTabla(resultados) {
            paginaActual = 0; // Reiniciar la página actual al actualizar los resultados
            mostrarResultados();
        }

        // Función para avanzar a la siguiente página de resultados
        function siguientePagina() {
            if ((paginaActual + 1) * resultadosPorPagina < resultados.length) {
                paginaActual++;
                mostrarResultados();
            }
        }

        // Función para retroceder a la página anterior de resultados
        function anteriorPagina() {
            if (paginaActual > 0) {
                paginaActual--;
                mostrarResultados();
            }
        }

        // Escuchar el evento click del botón "Siguiente"
        document.querySelector('#siguienteBtn').addEventListener('click', function() {
            siguientePagina();
        });

        // Escuchar el evento click del botón "Anterior"
        document.querySelector('#anteriorBtn').addEventListener('click', function() {
            anteriorPagina();
        });

        // Escuchar el evento submit del formulario
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault(); // Evitar que se recargue la página
            var formData = new FormData(this);
            fetch('/consultar_historicos', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.resultados) {
                    resultados = data.resultados; // Almacenar los resultados de la consulta
                    actualizarTabla(resultados);
                } else {
                    document.querySelector('#resultados tbody').innerHTML = '<tr><td colspan="2">No se encontraron resultados.</td></tr>';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
   
</body>
</html>
