<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Action Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <style>
        .navbar {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .navbar-brand {
            margin-right: 20px; /* Añade espacio entre el texto y el borde derecho */
        }
    </style>
    <script>
        // Function to load the last fall alert date from the Flask server
        function loadLastFallAlertDate() {
            $.ajax({
            url: '/last_fall_date',
            type: 'GET',
            success: function(data) {
                var date = data.last_fall_date;
                date = date.toString().split('GMT')[0];
                $('#last-fall-alert-date').text("Ultima alerta de caida detectada: " + date);
            }
            });
        }

        // Load the last fall alert date when the page loads
       
        // Función para cargar el GIF actualizado
        function loadGIF() {
            var img = document.getElementById('gif');
            var timestamp = new Date().getTime(); // Agregar un timestamp para >
            img.src = '../static/received.gif?' + timestamp;
        }

        // Función para cargar acciones desde el servidor Flask
        function loadActions() {
            $.ajax({
                url: '/get_actions',
                type: 'GET',
                success: function(data) {
                    $('#actions-list').empty(); // Vacía la lista actual de acc>
                    // Agrega las acciones recibidas desde el servidor al conte>
                    $.each(data.actions, function(index, action) {
                        $('#actions-list').append('<li>' + action.action + '</li>');
                    });
                }
            });
        }
                // Cargar GIF y acciones al cargar la página
        $(document).ready(function() {
            loadGIF();
            loadActions();
            loadLastFallAlertDate();
            // Actualizar GIF y acciones cada 2 segundos
            setInterval(loadGIF, 2000);
            setInterval(loadActions, 2000);
            setInterval(loadLastFallAlertDate,2000)
        });
    </script>

    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class = 'container-fluid'>
        <a class="navbar-brand" href="#">SeniorSafe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/historicos">Historicos</a>
            </li>
            
          </ul>
        </div>
    </div>
    </nav>
    
    <div class ="container-fluid">
        
        <div class="row justify-center">
            
            <div class="col ">
            
       <!-- El GIF se mostrará aquí -->
                <img id="gif" src="../static/received.gif" class="img-fluid rounded " alt="GIF" style="max-width: 100%;">
                <h5 id="last-fall-alert-date"></h5>
            </div>

            
        </div>
        <div class="row">
            <div class="col ">

                <h1 class="display-4 fs-10">Ultimas Acciones Monitoreadas</h1>
                    <ul id="actions-list">
                            <!-- Las acciones se cargarán aquí -->
                    </ul>
            </div>

        </div>
        
        
            
    </div>
    
    
</body>
</html>




