<link href="https://cdn.jsdelivr.net/npm/@mobiscroll/css/dist/css/mobiscroll.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@mobiscroll/js/dist/js/mobiscroll.min.js"></script>

<div id="range"></div>
<label>
    Start
    <input id="start" mbsc-input placeholder="Please select..." />
</label>
<label>
    End
    <input id="end" mbsc-input placeholder="Please select..." />
</label>

<script>
    mobiscroll.datepicker('#range', {
    controls: ['calendar', 'time'],
    select: 'range',
    startInput: '#start',
    endInput: '#end',
    touchUi: true
});
</script>